org: fabioedv
service: api-web-scraping

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::282163831899:role/LabRole
  environment:
    TABLE_NAME: TablaWebScrapping
    START_YEAR: 2025
    END_YEAR: 2025

functions:
  scrape_sismos:
    handler: handler.lambda_handler
    description: "Scrapea los sismos desde el IGP y almacena en DynamoDB"
    package:
      include:
        - handler.py
        - requirements.txt
    events:
      - httpApi:
          path: /scrap
          method: post

custom:
  pythonRequirements:
    fileName: requirements.txt
    dockerizePip: true
    slim: true

resources:
  Resources:
    TablaWebScrapping:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaWebScrapping
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
